{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_title %}
Sign In
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="allauth-section-sign-in">
  <div class="allauth-container-sign-in text-white">
    <div class="row pb-4 mb-4">
      <div class="col mx-auto">
        <h3 class="ml-3 mt-3">{% trans "Sign In" %}</h3>
        <hr>
        <p class="registration-text ml-3">{% blocktrans %}Welcome back to the Mynterest blog. To leave a comment or like a post, please log in. If you
          have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
          first.{% endblocktrans %}</p>
      </div>
    </div>

    <div class="row">
      <div class="col mt-3 mx-auto">
        <form class="login signup ml-3" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="allauth-buttons mb-3 mr-3 text-white float-right" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}