html,
body {
    height: 100%;
    background-color: black;
    background: white;

}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: none;
    color: darkgrey;
}

/* ---- Wrapper ----*/

.wrapper {
    min-height: 100vh;
    position: relative;
}

/* ---- Header ----*/

.header-container {
    width: 100%;
    text-decoration: none;
    margin: auto;

}

.logo-link {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

.logo-link:hover {
    text-decoration: none;
    color: antiquewhite;
}

.home-link {
    color: white;
    padding-top: 0.1em;
}

.home-link:hover {
    text-decoration: none;
    color: darkgrey;
}

.register-link {
    background-color: purple;
    border-radius: 5px;
}

/* ---- Header and Banner ----*/

.header-container,
.banner {
    background-color: #1a2e32;
    color: white;
}

/* ---- Main content container ----*/

.main-content {
    width: 100%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comic Neue', cursive;
}

.main-section {
    min-height: 50.3vh;
    width: 100%;
}


/* ---- Topic main index.html ----*/

.topic-container {
    min-height: 50.3vh;
}

.sports-image {
    background-image: url('../../media/but_sports.jpg');
    background-color: #000;
    background-size: 100% 100%;
    width: 25vw;
    height: auto;
    border-width: 3em 1.5em 0.5em 1.5em;
    border-color: #1a2e32;
    border-style: solid;
}

.nature-image {
    background-image: url('../../media/but_nature.jpg');
    background-color: #000;
    background-size: 100% 100%;
    width: 25vw;
    height: auto;
    border-width: 3em 3em 0.5em 1.5em;
    border-color: #1a2e32;
    border-style: solid;
}

.games-image {
    background-image: url('../../media/but_games.jpg');
    background-color: #000;
    background-size: 100% 100%;
    width: 25vw;
    height: auto;
    border-width: 3em 1.5em 0.5em 1.5em;
    border-color: #1a2e32;
    border-style: solid;
}

.mental-image {
    background-image: url('../../media/but_mental.jpg');
    background-color: #000;
    background-size: 100% 100%;
    width: 25vw;
    height: auto;
    border-width: 3em 1.5em 0.5em 3em;
    border-color: #1a2e32;
    border-style: solid;
}



/* ---- Footer container ----*/

.footer-container {
    height: 50px;
    margin: auto;
    background-color: #1a2e32;
    color: white;
    text-decoration: none;
    font-family: 'Bitter', serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    height: 22em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../../media/banner_landscape1.jpg');
    background-size: cover;
    background-position: center;
}

.banner p {
    margin: auto;
}

.intro-title {
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.intro-message {
    text-align: center;
    width: 40%;
}

.footer-info {
    padding-left: 1em;
}

.footer-info>h6 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

/* ---- Post page ----*/

.post-container {
    align-items: center;
}

.post-links {
    align-items: center;
    text-align: right;
}

.topic-text {
    font-size: 2em;
    color: white;
    font-family: 'Bitter', serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding-bottom: 1em;
}

.topic-container>a>.topic-text:hover {
    color: darkgrey;
    transition-duration: 0.6s;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    height: 30%;
}

.card-title {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.card-title>h4 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.nav-items {
    justify-content: right;
}

.logo-item {
    justify-content: center;
}

.signup>p>label {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.signup>p>input {
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
}


.signup-button {
    padding: 7px 15px;
    border-radius: 8px;
    border: 2px solid grey;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transition-duration: 0.4s;
    background-color: white;
    font-family: 'Bitter', serif;
    font-weight: 600;
}


.registration-text {
    font-family: 'Bitter', serif;
    font-weight: 600;
}

.registration-text>h3 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.comment-form {
    width: 45%;
    margin: 0 auto;
    margin-right: 0;
    border-radius: 8px;
}

.comment-form>div {
    font-family: 'Bitter', serif;
    font-weight: 800;
    border-radius: 8px;
}

.comment-form>div>button {
    display: block;
    float: right;
}

/* ---- Back to top button ----*/

.back-to-top {
    text-align: center;
}

.back-to-top-button {
    background-color: #1a2e32;
    color: white;
    text-decoration: none;
}

.back-to-top-button:hover {
    text-decoration: none;
    color: darkgrey;
}

.back-to-top-button>h6 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}


/* ---- Error messages ----*/

/* Success message */
.messages .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

/* Info message */
.messages .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

/* Warning message */
.messages .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

/* Error message */
.messages .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}


/* deze tag nog gebruiken om de hoogte van de texteara mee te bepalen */

/* textarea.form-control {
    height: 4em;
} */