html,
body {
    height: 100%;
    background-color: black;
    background: white;

}

/* ---- Wrapper ----*/

.wrapper {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ---- Header ----*/

.header-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    text-decoration: none;
    border-radius: 8px;
}

.logo-link {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

.logo-link:hover {
    text-decoration: none;
    color: antiquewhite;
}

/* ---- Main content container ----*/

.main-section {
    width: 80%;
    height: 60%;
    margin: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-family: 'Comic Neue', cursive;
}

/* ---- Topic main index.html ----*/

.topic-container {
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic-item {
    font-size: 24px;
    padding: 14px 40px;
    border-radius: 8px;
    text-decoration: none;
    transition-duration: 0.4s;
    margin: auto;
    margin-left: 3em;
    margin-right: 3em;
    font-family: 'Bitter', serif;
    font-weight: 600;
}

.topic-item>a {
    color: black;
}

.topic-item>a:hover {
    color: white;
    text-decoration: none;
}

.topic-item:hover {
    background-color: grey;
    color: white;
}




/* .topic-itemcontainer {

} */

/* ---- Footer container ----*/

.footer-container {
    width: 80%;
    height: 50px;
    margin: auto 0;
    background-color: grey;
    text-decoration: none;
    border-radius: 8px;
    bottom: 0;
    /* display: flex;
    align-items: center;
    justify-content: center;  */
    /* min-height: calc(100vh - 50px); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bitter', serif;
}

.intro-container {
    height: 40%;
    margin: auto;
}

.intro-message {
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 800;
}

/* .intro-text {
    text-align: left;
} */

.footer-info {
    width: 60%;
    margin: auto;
    text-align: center;
}

.footer-info>h6 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

/* ---- Mental post page ----*/

.post-container {
    align-items: center;
}

.post-links {
    align-items: center;
    text-align: right;
}

.post-button {
    padding: 7px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition-duration: 0.4s;
    margin: auto;
    margin-left: 3em;
    margin-right: 3em;
    background-color: white;
    font-family: 'Bitter', serif;
    font-weight: 600;
}

/* .topic-item {
    font-size: 24px;
    color: white1;
    padding: 14px 40px;
    border-radius: 8px;
    text-decoration: none;
    transition-duration: 0.4s;
    margin: auto;
    margin-left: 3em;
    margin-right: 3em;
    font-family: 'Bitter', serif;
    font-weight: 600;   
} */

.post-button>a {
    color: black;
}

.post-button>a:hover {
    color: white;
    text-decoration: none;
}

.post-button:hover {
    background-color: grey;
    color: white;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    height: 30%;
}

.card-title {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.card-title>h4 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.nav-items {
    justify-content: right;
}

.logo-item {
    justify-content: center;
}

.signup>p>label {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.signup>p>input {
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
}


.signup-button {
    padding: 7px 15px;
    border-radius: 8px;
    border: 2px solid grey;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transition-duration: 0.4s;
    background-color: white;
    font-family: 'Bitter', serif;
    font-weight: 600;
}


.registration-text {
    font-family: 'Bitter', serif;
    font-weight: 600;
}

.registration-text>h3 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.comment-form {
    width: 45%;
    margin: 0 auto;
    margin-right: 0;
}

/* deze tag nog gebruiken om de hoogte van de texteara mee te bepalen */

/* textarea.form-control {
    height: 4em;
} */