html,
body {
    height: 100%;
    background-color: black;
    background: white;

}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: none;
    color: darkgrey;
}

hr {
    background-color: rgb(83, 83, 83);
}


/* ---- Header ----*/

.header-container {
    width: 100%;
    text-decoration: none;
    margin: auto;

}

.logo-link {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

.logo-link:hover {
    text-decoration: none;
    color: antiquewhite;
}

.home-link {
    color: white;
    padding-top: 0.1em;
}

.home-link:hover {
    text-decoration: none;
    color: darkgrey;
}

.register-link {
    background-color: purple;
    border-radius: 5px;
}

/* ---- Header and Banner ----*/

.header-container,
.banner {
    background-color: #081616;
    color: white;
}

/* ---- Main content container ----*/

.main-content {
    min-height: calc(100vh - 106px);  
    display: flex;
    flex-direction: column;
    font-family: 'Comic Neue', cursive;
}

.main-section {
    background-color: #081616;
    min-height: 52.7vh;

}


/* ---- Topic main index.html ----*/

.topic-container {
    min-height: 50.3vh;
}

.sports-image {
    background-image: url('../images/new_sport.jpg');
    background-color: #000;
    background-size: 100% 100%;
    width: 25vw;
    height: auto;
    border-width: 3em 1.5em 0.5em 1.5em;
    border-color: #081616;
    border-style: solid;
    filter: brightness(95%);
}

.nature-image {
    background-image: url('../images/new_nature.jpg');
    background-color: #000;
    background-size: 100% 100%;
    width: 25vw;
    height: auto;
    border-width: 3em 3em 0.5em 1.5em;
    border-color: #081616;
    border-style: solid;
    filter: brightness(95%);
}

.games-image {
    background-image: url('../images/new_games.jpg');
    background-color: #000;
    background-size: 100% 100%;
    width: 25vw;
    height: auto;
    border-width: 3em 1.5em 0.5em 1.5em;
    border-color: #081616;
    border-style: solid;
    filter: brightness(95%);
}

.mental-image {
    background-image: url('../images/new_mental.jpg');
    background-color: #000;
    background-size: 100% 100%;
    width: 25vw;
    height: auto;
    border-width: 3em 1.5em 0.5em 3em;
    border-color: #081616;
    border-style: solid;
    filter: brightness(95%);
}

.nature-image:hover,
.sports-image:hover,
.games-image:hover,
.mental-image:hover {
    filter: brightness(120%);
}



/* ---- Footer container ----*/

.footer-container {
    height: 3.1em;
    background-color: #081616;
    color: white;
    text-decoration: none;
    font-family: 'Bitter', serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    height: 22em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_landscape1.jpg');
    background-size: cover;
    background-position: center;
}

.banner p {
    margin: auto;
}

.intro-title {
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.intro-message {
    text-align: center;
    width: 40%;
}

.footer-info {
    padding-left: 1em;
}

.footer-info>h6 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

/* ---- Post page ----*/

.banner-sports {
    height: 22em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_sports.jpg');
    background-size: cover;
    background-position: center;
}

.banner-games {
    height: 22em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_games.jpg');
    background-size: cover;
    background-position: center;
}

.banner-nature {
    height: 22em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_nature.jpg');
    background-size: cover;
    background-position: center;
}

.banner-mental {
    height: 22em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_mental.jpg');
    background-size: cover;
    background-position: center;
}

.banner-mental,
.banner-sports,
.banner-nature,
.banner-games {

    background-color: #081616;
    color: white;
}

.banner-mental>P,
.banner-sports>P,
.banner-nature>P,
.banner-games>p {
    margin: auto;
}

.post-container {
    align-items: center;
}

.post-links {
    align-items: center;
    text-align: right;
}

.post-register-button {
    background-color: purple;
    border-radius: 5px;
    border-style: none;
    height: 2.8em;
    width: 5em;
    font-weight: 800;
}

.post-register-button>a {
    text-decoration: none;
    color: white;
}

.post-register-button>a:hover {
    text-decoration: none;
    color: darkgrey;
}

.post-create-button {
    background-color: purple;
    border-radius: 5px;
    border-style: none;
    height: 3.2em;
    width: 5em;
    font-weight: 800;
}

.post-create-button>a {
    text-decoration: none;
    color: white;
}

.post-create-button>a:hover {
    text-decoration: none;
    color: darkgrey;
}

.most-liked-buttons {
    background-color: purple;
    border-radius: 5px;
    border-style: none;
    height: 2.8em;
    font-weight: 800;
}

.most-liked-buttons>a {
    text-decoration: none;
    color: white;
}

.most-liked-buttons>a:hover {
    text-decoration: none;
    color: darkgrey;
}

.post-excerpt {
    min-height: 6em;
}

.pagination-container {
    height: 3em;
    background-color: purple;
    border-radius: 5px;
    font-family: 'Bitter', serif;
    color: white;
    align-items: center;
}

.pagination-link {
    color: white;
}

.pagination-link:hover {
    color: darkgrey;
    text-decoration: none;
}

.topic-text {
    font-size: 2em;
    color: white;
    font-family: 'Bitter', serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding-bottom: 1em;
    /* z-index: -9999; */
}

.topic-container>a>.topic-text:hover {
    color: white;
    font-size: 5em;
    transition-duration: 0.6s;
}

.card-title {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.card-title>h4 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}


/* ---- Post details page ----*/

.banner-sports-detail {
    height: 14em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_sports.jpg');
    background-size: cover;
    background-position: center;
}

.banner-games-detail {
    height: 14em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_games.jpg');
    background-size: cover;
    background-position: center;
}

.banner-nature-detail {
    height: 14em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_nature.jpg');
    background-size: cover;
    background-position: center;
}

.banner-mental-detail {
    height: 14em;
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/banner_mental.jpg');
    background-size: cover;
    background-position: center;
}

.banner-mental-detail>h2,
.banner-sports-detail>h2,
.banner-nature-detail>h2,
.banner-games-detail>h2 {
    margin-top: 0.5em;
    color: white;
}

.post-body {
    min-height: 8em;
}

.comment-body {
    min-height: 3em;
}

.post-detail-buttons {
    background-color: purple;
    border-radius: 5px;
    border-style: none;
    height: 2.8em;
    font-weight: 800;
}

.post-detail-buttons>a {
    text-decoration: none;
    color: white;
}

.post-detail-buttons>a:hover {
    text-decoration: none;
    color: darkgrey;
}

.btn-like {
    background: purple;
    color: white;
    border-radius: 5px;
}


.post-card-body {
    background-color: #292828;
}

.nav-items {
    justify-content: right;
}

.logo-item {
    justify-content: center;
}

.signup>p>label {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.signup>p>input {
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
}


/* .signup-button {
    padding: 7px 15px;
    border-radius: 8px;
    border: 2px solid grey;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transition-duration: 0.4s;
    background-color: white;
    font-family: 'Bitter', serif;
    font-weight: 600;
} */

.allauth-buttons {
    background-color: purple;
    border-radius: 5px;
    border-style: none;
    height: 2.8em;
    font-weight: 800;
}

.registration-text {
    font-family: 'Bitter', serif;
    font-weight: 600;
}

.registration-text>h3 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

.comment-form {
    width: 50%;
    border-radius: 5px;
}


/* ---- Back to top button ----*/

.back-to-top {
    text-align: center;
}

.back-to-top-button {
    background-color: #081616;
    color: white;
    text-decoration: none;
}

.back-to-top-button:hover {
    text-decoration: none;
    color: darkgrey;
}

.back-to-top-button>h6 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}


/* ---- Allauth pages  ----*/

.allauth-section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.allauth-section-sign-out {
    display: flex;
    justify-content: center;
    margin: auto;
}

.allauth-section-sign-in {
    display: flex;
    justify-content: center;
    margin: auto;
}

.allauth-container-sign-out {
    width: 40%;
    border-radius: 5px;
    background-color: #081616;   
}

.allauth-container-sign-up {
    border-radius: 5px;
    background-color: #081616;   
}

.allauth-container-sign-in {
    width: 70%;
    border-radius: 5px;
    background-color: #081616;   
}

/* ---- 404 Page ----*/

.four-oh-four-image {
    width: 100%;
    padding-top: 4.5em;

    background-image: url('../images/art_404.jpg');
    background-size: cover;
    background-position: center;
}

.four-oh-four-button {
    background-color: purple;
    border-radius: 5px;
    border-style: none;
    height: 2.8em;
    font-weight: 800;
}

/* ---- Error messages ----*/

.messages-container {
    position: fixed;
    top: 4.5em;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Success message */
.messages .alert-success {
    background-color: #0a8a0e;
    border-color: #388E3C;
    color: #FFFFFF;
}

/* Info message */
.messages .alert-info {
    background-color: #067ada;
    border-color: #1976D2;
    color: #FFFFFF;
}

/* Warning message */
.messages .alert-warning {
    background-color: #fcbe03;
    border-color: #FFA000;
    color: #FFFFFF;
}

/* Error message */
.messages .alert-danger {
    background-color: #b61105;
    border-color: #E53935;
    color: #FFFFFF;
}

