{% extends "base.html" %}

{% load static %}

{% block extra_title %}

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row-md-6 card mt-4 comment-form">
    <div class="card-body bg-dark text-white">
        {% if user.is_authenticated %}
        <h3>Edit comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input class="right" type="submit" value="Update Comment">
        </form>
        {% else %}
        <h3>Sign up now and join us in the comments!</h3>
        <button class="button post-button ml-5">
            <a href="{% url 'account_signup' %}">Register</a>
        </button>
        {% endif %}
    </div>
</div>

{% endblock %}

