{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}
Edit Comment
{% endblock %}

{% block content %}

<section class="main-section comment-section">
    <div class="row card mt-4 mb-4 mx-auto border-0 comment-form">
        <div class="card-body bg-dark text-white pb-5">
            {% if comment.author == request.user %}
            <h3>Edit comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <input class="right" type="submit" value="Update Comment">
            </form>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}