{% extends "base.html" %}

{% load static %}

{% block extra_title %}
Topics
{% endblock %}

{% block content %}

<div class="banner pb-2">
    <h2 class="intro-title mt-2">Welcome to Mynterest!</h2>
    <p class="mb-4 mt-5 intro-message">Greetings! Welcome to my own personal blog application 'Mynterest'. This
        application
        will
        be a meeting point for certain like minded people to conversate and discuss four big topics in life.
        Sports!, Games!, Music! and Mental!!. All of these topics are dear to my hearth and I know they will be with
        alot of you guys. Don't wait any longer and join us!</p>
</div>

<section class="main-section">
    <div class="row no-gutters topic-container">
        <a href="{% url 'posts' topic='mental' %}" class="mental-image text-decoration-none col-3">
            <strong class="topic-text">Mental</strong>
        </a>
        <a href="{% url 'posts' topic='games' %}" class="games-image text-decoration-none col-3">
            <strong class="topic-text">Games</strong>
        </a>
        <a href="{% url 'posts' topic='sports' %}" class="sports-image text-decoration-none col-3">
            <strong class="topic-text">Sports</strong>
        </a>
        <a href="{% url 'posts' topic='nature' %}" class="nature-image text-decoration-none col-3">
            <strong class="topic-text">Nature</strong>
        </a>
    </div>
</section>


{% endblock %}