{% extends "base.html" %}

{% load static %}


{% block content %}

<section class="main-section">
    <div class="intro-container mt-4">
        <h2 class="intro-message mt-2">Welcome to Mynterest!</h2>
        <p class="intro-text mt-4">Greetings! Welcome to my own personal blog application 'Mynterest'. This application will
            be a meeting point for certain like minded people to conversate and discuss four big topics in life.
            Sports!, Games!, Music! and Mental!!. All of these topics are dear to my hearth and I know they will be with
            alot of you guys. Don't wait any longer and join us!</p>
    </div>
    <div class="topic-container">
        <div class="topic-itemcontainer">
            <button type="button" class="topic-item">
                <a href="{% url 'mental' %}"><strong>Mental</strong></a>
            </button>
            <button type="button" class="topic-item">
                <a href=""><strong>Games</strong></a>
            </button>
            <button type="button" class="topic-item">
                <a href=""><strong>Sports</strong></a>
            </button>
            <button type="button" class="topic-item">
                <a href=""><strong>Fitness</strong></a>
            </button>
        </div>
    </div>
</section>


{% endblock %}