{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="main-section mt-5">
    <div class="row post-container">
        {% for post in post_items %}
        <div class="col-4 pt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4><strong>{{ post.title }}</strong></h4>

                    </div>
                    <div class="post-excerpt">
                        <p>{{ post.excerpt }}</p>
                    </div>
                    <hr>
                    <div class="row post-links">
                        <p class="col card-text text-muted h6">{{ post.created_date}}</p>
                        <button class="col post-button">
                            <a href=""><h6>View Post</h6></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}