{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_title %}
{{ topic.title }}
{% endblock %}

{% block content %}

{% if topic.title == "Sports" %}
<div class="banner-sports pb-2">
    <h2 class="intro-title mt-2">{{ topic.title }}</h2>
    <p class="mb-4 mt-5 intro-message">Greetings! Welcome to the sports section. I love to excersize! It is one of the
        ways I am able to keep my mind clear and ready to go! How do you feel about sports. Create a post to tell me or
        leave a comment on other peoples stories!</p>
</div>
{% elif topic.title == "Games" %}
<div class="banner-games pb-2">
    <h2 class="intro-title mt-2">{{ topic.title }}</h2>
    <p class="mb-4 mt-5 intro-message">Greetings! Welcome to the games section. Every since I was a small child I was
        clustered to a gaming device. Wheter it be a gameboy advance, color or the gamecube. You could always see me
        infront of a screen. After a while Call of Duty and World of Warcraft became my thing. What are your preffered
        games. Leave a post or comment below!</p>
</div>
{% elif topic.title == "Nature" %}
<div class="banner-nature pb-2">
    <h2 class="intro-title mt-2">{{ topic.title }}</h2>
    <p class="mb-4 mt-5 intro-message">Greetings! Welcome to the nature section. When I was younger, my head would
        sometimes explode with thoughts and emotions. Heck! even today It can be overwhelming. Luckily going outside and
        just breathe in some fresh air would help me calm down. How do you feel about nature? Tell me in the posts and
        comments below!</p>
</div>
{% elif topic.title == "Mental" %}
<div class="banner-mental pb-2">
    <h2 class="intro-title mt-2">{{ topic.title }}</h2>
    <p class="mb-4 mt-5 intro-message">Greetings! Welcome to the mental section. I love to meditate. It is one of those
        things that helps me disconnect from the big bad world. Just sitting still and focusing on my breathing for a
        few minutes is really soothing. What do you do to keep your mind in calm waters? Leave it in a post or comment
        below!</p>
</div>
{% endif %}


<section class="main-section">
    <div class="post-container mt-3 w-75 mx-auto">
        {% if user.is_authenticated %}
        <div class="row mx-0 pt-2">
            <div class="col-11">
                <P class="text-white float-right pt-2">Create your own post!
                </P>
            </div>
            <div class="col-1">
                <button class="post-create-button float-left">
                    <a href="{% url 'create_post' topic=topic %}">Create Post</a>
                </button>
            </div>
        </div>
        {% else %}
        <div class="row mx-0 pt-2">
            <div class="col-11">
                <P class="text-white float-right pt-2">You need to register in order to create your own Posts. Sign up
                    here!
                </P>
            </div>
            <div class="col-1">
                <button class="post-register-button float-left">
                    <a href="{% url 'account_signup' %}">Register</a>
                </button>
            </div>
        </div>
        {% endif %}
        <div class="row mx-0 pt-2">
            {% if most_liked %}
            <button class="most-liked-buttons">
                <a href="{% url 'posts' topic=topic %}">Show All Posts</a>
            </button>
            {% else %}
            <button class="most-liked-buttons">
                <a href="{% url 'posts' topic=topic %}?most_liked=true">Show Most Liked</a>
            </button>
            {% endif %}
        </div>
        {% for post in posts %}
        <div class="row pt-2 mb-3 w-75 mx-auto">
            <div class="col-12 pt-2">
                <div class="card border-0">
                    <div class="card-body post-card-body text-white">
                        <div class="row mx-0 pl-1">
                            <h4><strong>{{ post.title }}</strong></h4>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6 post-excerpt pl-1">
                                <p>{{ post.excerpt }}</p>
                            </div>
                            <div class="col-6">
                                <div class="post-image">
                                    {{ post.image }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-4 pt-2 pl-3">
                                <h6 class="pl-3"><strong>{{ post.author }}</strong></h6>
                                <p class="card-text text-muted pl-3">{{ post.created_date }}</p>
                            </div>
                            <div class="col-8">
                                <button class="button post-detail-buttons float-right">
                                    <a href="{% url 'post_detail' slug=post.slug %}">View post</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="pagination">
            <div class="row mx-auto pagination-container">
                <div class="col-12 text-center">
                    <span class="current-page">{{ posts.start_index }} - {{ posts.end_index }} of
                        {{ posts.paginator.count }}</span>
                </div>
                <div class="col-12 text-center">
                    {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="pagination-link">next</a>
                    <a href="?page={{ posts.paginator.num_pages }}" class="pagination-link">last</a>
                    {% endif %}
                    {% if posts.has_previous %}
                    <a href="?page=1" class="pagination-link">first</a>
                    <a href="?page={{ posts.previous_page_number }}" class="pagination-link">previous</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}